<a class="brand-name" [routerLink]="nav_path.HOME" rel="noreferrer" aria-label="HOME">Anonymous Systems</a>
<img class="brand-logo" src="assets/imgs/logo.webp" alt="Anonymous Systems Logo" [routerLink]="nav_path.HOME" />

<header>Forgot Password</header>
<div class="header-text">No worries if you forgot your password, we'll help you reset it!</div>

<form [formGroup]="forgotpassForm" (ngSubmit)="onSubmit()">
  <div class="email">
    <label for="email" class="email-label">Email address: </label>
    <input id="email" type="email" class="form-control" formControlName="email" required />

    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="input-error">
      <div *ngIf="email?.errors?.required">Email address is <strong>required</strong>.</div>
      <div *ngIf="email?.errors?.email">Please enter a valid email address.</div>
    </div>
  </div>

  <button type="submit" [disabled]="!forgotpassForm.valid">Reset Password</button>
</form>

<button class="google-login" (click)="authService.googleAuth()" type="button">
  <img class="button-icon" src="assets/imgs/GoogleIcon.webp" alt="Google Logo" /><span>Login with Google</span>
</button>

<div class="sign-up">
  Don't have an account?
  <a class="sign-up-button" [routerLink]="nav_path.REGISTER" rel="noreferrer">Sign Up</a>
</div>
