<div class="container d-flex align-items-center min-vh-100">
  <div class="row d-flex justify-content-center">
    <nb-card class="text-center">
      <nb-card-header>
        <div class="display-1">Success</div>
      </nb-card-header>
      <nb-card-body>
        <div class="lead">Order placed, you should receive a confirmation email.</div>
        <div class="lead">We will send you another email once your order ships.</div>
      </nb-card-body>
      <nb-card-footer>
        <div class="lead">Thank you for your business!</div>
      </nb-card-footer>
    </nb-card>
    <div class="d-flex justify-content-center">
      <button nbButton hero status="primary" routerLink="/dashboard">Go Home</button>
    </div>
  </div>
</div>
