<div class="container d-flex align-items-center min-vh-100">
  <div class="row d-flex justify-content-center">
    <anon-card class="text-center">
      <div title>
        <div class="display-1">Success</div>
      </div>
      <div>
        <div class="lead">Order placed, you should receive a confirmation email.</div>
        <div class="lead">We will send you another email once your order ships.</div>
      </div>
      <div footer>
        <div class="lead">Thank you for your business!</div>
      </div>
    </anon-card>
    <div class="d-flex justify-content-center">
      <button routerLink="/dashboard">Go Home</button>
    </div>
  </div>
</div>
