@import 'src/styles/styles';

:host {
  font-family: 'Nunito';
}
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin: 16px -8px 0 0;
    text-transform: uppercase;
    line-height: 36px;
  }
  .more-details-btn {
    color: rgba(0, 0, 0, 0.87);
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
  }
  .more-details-btn:hover {background-color: rgba(0, 0, 0, 0.05);color: rgba(0, 0, 0, 0.87)}
  .ok-btn {
    color: rgb(63, 81, 181);
    border: none!important;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
    font-weight: 600;
  }
  .ok-btn:hover {background-color: rgba(63, 81, 181, 0.05);}

  // TODO: set when media-breakpoint-up(md)
  //.popup { width: 462px; }
