@import 'src/styles/styles';
$page-padding: 0 2rem 0 2rem;

:host {
  display: grid;
  grid-gap: 1rem;

  grid-template:
  " nav           " 75px
  " greeting      " 45px
  " greeting-text " 75px
  " search        " 50px
  " .             " 5px
  " categories    " 125px
  " .             " 25px
  " posts         " 300px
  " footer        " 125px
  / 1fr;

  //height: 100vh; // Causes issues with bottom of the screen
  padding: 0;

  font-family: 'Inter', sans-serif;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
  }
  ::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: $primary-color;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }
    scrollbar-color: $primary-color #e0e0e0;
    scrollbar-width: none;
}
nav {
  grid-area: nav;
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  .user-image {
    align-self: center;
    width: 40px;
    height: 40px;
    background-color: #F1F6FB;
    border-radius: 2rem;
  }
  .notification-icon {
    align-self: center;
    font-size: 1.25rem;
    color: #2E3E5C;
  }
}
.greeting {grid-area: greeting;font-size: 1rem;padding: 0.75rem 2rem 0 2rem;}
.greeting-text {grid-area: greeting-text;font-size: 1.5rem;padding: $page-padding;}
.search {
  grid-area: search;
  justify-self: center;
  position: relative;
  i {
    position: absolute;
    padding: 1rem;
    text-align: left;
    color: #8189B0;
    z-index: 1;
  }
  input {
    width: 350px;
    @media (max-width: $sm) {width: 250px;}
    height: 100%;
    border: none;
    border-radius: 1rem;
    background-color: #F1F6FB;
    color: #8189B0;
    text-align: center;
    font-size: 1rem;
  }
  input::placeholder {color: #8189B0;}
}
.categories {
  grid-area: categories;
  span {
    padding-left: 2rem;
  }
}
.categories-container {
  padding: 0.25rem 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  @media (max-width: 350px) {grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)); overflow-y: auto}
  grid-gap: 10px;
  width: 100vw;
  height: 100%;
  .category {
    height: 40px;
    display: grid;
    place-content: center;
    border-radius: 2rem;
    background-color: #F1F6FB;
    padding: 1.25rem;
    font-size: 0.95rem;
    color: #7F8E9D;
  }
  .category:first-child {background-color: #8555B9;color: #ffffff;}
}
.posts-container {
  grid-area: posts;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(266px,1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(266px,1fr);
  overflow-x: auto;
  //grid-gap: 10px; // Causes horizontal scroll bar

  //padding: $page-padding;

}
.post-container:first-child {
  margin-left: 10px;
}
.post-container {
  display: grid;
  border-radius: 2rem;
  background-color: #7C00B6;
  padding: 0.5rem;
  margin-right: 1rem;
  //width: 266px;
  //height: 266px;
  justify-self: center;
  .post {
    justify-self: center;
    align-self: end;
    width: 235px;
    height: 105px;
    background-color: #9D40C9;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    color: #ffffff;
    font-size: 0.95rem;
    .post-title {
      width: 100%;
    }
    .post-buttons {
      display: flex;
      justify-content: space-evenly;
      font-size: 0.65rem;
      cursor: pointer;
      .arrow-button {
        padding-left: 1rem;
      }
    }
  }
}
.add-button {
  font-size: 1.25rem;
  z-index: 1;
  position: fixed;
  bottom: 55px;
  background-color: #FE9535;
  border: none;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  justify-self: center;
  color: #ffffff;
}
footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer-nav {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template:
    " home    bookmarks     .     favorites    activites " 82px
    / auto    auto          auto  auto         auto;
    background-image: url("/assets/imgs/BottomNavigationBackground.svg");
    background-repeat: repeat-x;
    background-position: bottom center;
    background-attachment: fixed;
    @media (min-width: 647px) {
      background-image: unset;
    }
  }
  i {
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    color: #BBBFD0;
    @media (min-width: 647px) {

    }
  }
  .home-icon {
    color: #8555B9;
    grid-area: home;
    align-self: center;
    justify-self: center;
  }
  .bookmark-icon {grid-area: bookmarks;}
  .heart-icon {grid-area: favorites;}
  .chart-icon {grid-area: activites;}
}
