<nav>
  <div class="user-image"></div>
  <a class="notification-icon" (click)="notify.sendNotification('test notification since refactor!')"><i class="far fa-bell"></i></a>
</nav>
<div class="greeting">Hi, Anonymous One!</div>
<div class="greeting-text">What a beautiful day to read an article, right?</div>
<div class="search">
  <i class="fas fa-search"></i>
  <input class="search" type="text" placeholder="Search" />
</div>
<div class="categories">
  <span>Popular Categories</span>
  <div class="categories-container">
    <div class="category" *ngFor="let category of categories">{{category.name}}</div>
  </div>
</div>
<div class="posts-container">
  <article class="post-container" *ngFor="let post of posts">
    <span style="padding: 2rem">{{post.content}}</span>
    <div class="post">
      <div class="post-title">{{post.title}}</div>
      <div class="post-buttons">
        <a type="button" routerLink="/blog/post/{{post.id}}">Read More<i class="fas fa-arrow-right arrow-button"></i></a>
      </div>
    </div>
  </article>
</div>
<button class="add-button" routerLink="/blog/add-post"><i class="fas fa-plus"></i></button>
<footer>
  <div class="footer-nav">
    <a class="home-icon" routerLink="/"><i class="fas fa-home"></i></a>
    <i class="far fa-bookmark bookmark-icon"></i>
    <i class="far fa-heart heart-icon"></i>
    <i class="fas fa-chart-line chart-icon"></i>
  </div>
</footer>
