<div class="container">
  <div class="row">
    <anon-card>
      <div title>
        <div class="display-1">Add New Product</div>
      </div>
      <div>
        <form class="container" [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="name" class="form-label">Product name</label>
            <input type="text" class="form-control" formControlName="name" id="name" [ngClass]="{ 'is-invalid': submitted && this.newProductForm.controls.name.errors }" required>
            <div *ngIf="submitted && this.newProductForm?.controls?.name?.errors" class="alert alert-danger">
              <div *ngIf="this.newProductForm.controls.name.errors?.required" class="name-required">Product name is required</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" formControlName="description" id="description" [ngClass]="{ 'is-invalid': submitted && this.newProductForm.controls.description.errors }" required>
            <div *ngIf="submitted && this.newProductForm?.controls?.description?.errors" class="alert alert-danger">
              <div *ngIf="this.newProductForm.controls.description.errors?.required" class="description-required">Product description is required</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" formControlName="price" id="price" [ngClass]="{ 'is-invalid': submitted && this.newProductForm.controls.price.errors }" required>
            <div *ngIf="submitted && this.newProductForm?.controls?.price?.errors" class="alert alert-danger">
              <div *ngIf="this.newProductForm.controls.price.errors?.required" class="price-required">Product price is required</div>
            </div>
          </div>

          <div class="row mb-3 float-end">
            <button matTooltip="Add field" matTooltipPosition="above"
                     aria-label="Button that adds custom field to product.">+</button>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit">Add Product</button>
          </div>
        </form>
      </div>
    </anon-card>

    <anon-card>
      <div title><div class="display-1">Dynamic Form</div></div>
      <div>
        <form #dynamicForm="ngForm" class="container" (ngSubmit)="logValue()">
          <div class="row mt-3">
            <div class="row add-button-container mb-4">
              <label class="form-label">Dynamic Field Name</label>
              <input class="form-control" #dynamicFieldName name="dynamicFieldName" placeholder="Dynamic Field Name" />
              <button type="button" class="mt-2"
                      (click)="addDynamicField(dynamicFieldName.value)">Add Dynamic Field</button>
            </div>
            <anon-card class="bg-dark" *ngFor="let testField of test; let i = index;">
              <div title class="position-relative">
                {{testField.id}}
                <div class=""><span class="text-muted small">Field Name: &nbsp;</span> <span class="h5">{{testField.field_name}}</span></div>
              </div>
              <div>
                <div class="form-group">
                  <label class="form-label">{{testField.field_name}}</label>
                  <input type="text" class="form-control" [(ngModel)]="testField.field_placeholder"
                         name="dynamicField_{{testField.id}}" placeholder="{{testField.field_name}} placeholder" />
                </div>
              </div>
              <div footer>
                <button type="button" (click)="removeDynamicField(i)">Remove {{testField.field_name}} Field</button>
              </div>
            </anon-card>
          </div>
          <div class="row mt-4 submit-button-container">
            <button type="submit" status="success">Add Field</button>
          </div>
        </form>
      </div>
      <div footer></div>
    </anon-card>
  </div>
</div>
