// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* You can add global styles to this file, and also import other style files */
body,html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth!important;
}
* {
  box-sizing: border-box;
}

// Anonymous Systems Color Palette
$brand-light-gold: #FFE6A6;
$brand-medium-gold: #FFDE8C;
$brand-gold: #DDC179;
$brand-blue: #002040;
$brand-black: #1A1A1A;

// TODO: Still working on these
$primary-color: $brand-gold;
$secondary-color: $brand-blue;


// Media Queries
$xsm: 300px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;
$xxl: 1400px;
$xxxl: 1600px;

// Media Query Examples
.smth {
  //some CSS
  @media screen and (max-width: $sm) {
    //do Smth
  }
  @media screen and (min-width: $md) {
    //do Smth
  }
}

html, body {
  min-height: 100%;
}


// Angular Material SnackBar Font Color
.snackBar {color: $primary-color;}

// Input form error class
.input-error {
  font-size: 75%;
  color: #f44336;
  padding: 0.25rem;
}

.alert {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #f8d7da;
  color: #842029;
  border-color: #842029;
}

.brand-logo {
  display: grid;
  align-self: center;
  justify-self: center;
  background-color: #232539;
  border-radius: 2.75rem;
  padding: 2rem;
  width: 175px;
  height: 175px;
}

