<!--Header-->
<div class="container-fluid header-container">
  <div class="row justify-content-center">
    <a class="header-text" href="#">Anonymous Systems</a>
  </div>
</div>

<!--Github Icon-->
<div class="container">
  <div class="row justify-content-center">
    <a style="width: min-content" href="https://github.com/anonymous-systems" target="_blank" rel="noopener">
      <span class="github-icon">github icon</span>
    </a>
  </div>
</div>

<!--Launching-->
<div class="container launching-container">
  <div class="row justify-content-center">
    <div class="launching-text">LAUNCHING</div>
  </div>
</div>

<!--VerySoon-->
<div class="container verysoon-container">
  <div class="row justify-content-center">
    <div class="verysoon-text">VERY SOON<span class="custom-period"><span>circle icon</span></span></div>
  </div>
</div>

<!--Form-->
<div class="container" *ngIf="isSubscribed; else email_sub_form">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="h-100 rounded-3 thanks-sub text-center">
        <h1>Thank you for subscribing!</h1>
        <p class="h4">We'll keep you in the loop...</p>
      </div>
    </div>
  </div>
</div>
<ng-template #email_sub_form>
  <form class="container form-container" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="email-input-container">
        <input type="email" id="email" formControlName="email" class="form-control email-address-input" required [ngClass]="{ 'is-invalid': submitted && this.emailForm.controls.email.errors }" placeholder="ENTER EMAIL ADDRESS">
        <div *ngIf="submitted && this.emailForm?.controls?.email?.errors" class="alert alert-danger">
          <div *ngIf="this.emailForm.controls.email.errors?.required" class="email-required">Email is required</div>
          <div *ngIf="this.emailForm.controls.email.errors?.email" class="invalid-email">Email must be a valid email address</div>
        </div>
      </div>

      <div class="subscribe-container align-self-center">
        <button type="submit" class="btn subscribe-btn">SUBSCRIBE</button>
      </div>
    </div>
  </form>
</ng-template>

<!--Footer-->
<div class="container footer-container">
  <nav class="navbar fixed-bottom navbar-light bg-transparent copyright-container d-flex">
    <a class="" href="mailto: anonsystems@protonmail.com"> <span class="badge rounded-pill" style="font-size: 0.85rem;color: #DDC179">Contact Us</span> </a>
    <div class="copyright-text">&copy; Anonymous Systems {{ currentYear }}</div>
    <div class="small text-basic app-version-text row">
      <span>v{{ currentApplicationVersion }}</span>
    </div>
  </nav>
</div>
