@import 'src/styles/styles';

  .header-container {
    padding: 0!important;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .header-text {
    font-family: 'Zilla Slab Highlight', 'Open Sans';
    color: #DDC179;
    font-size: 1.875rem;
  }
  .github-icon {
    font-size: 4rem;
  }
  .launching-container {
    padding: 1rem 0 0.5rem 0;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .launching-text {
    font-family: 'Fredoka One', cursive;
    //color: #FFFFFF;
    font-size: 3.125rem;
    padding: 0!important;
  }
  .verysoon-container {
    padding: 1rem 0 1rem 0;
    margin-bottom: 2rem;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .verysoon-text {
    //color: #FFFFFF;
    font-size: 3.125rem;
    padding: 0!important;
    .custom-period { color: #DDC179; }
  }
  .thanks-sub > * { color: #DDC179!important; }
  .form-container {
    //padding: 0!important;
    text-align: center;
  }
  .form-control {
    //color: #FFFFFF!important;
    opacity: 1;
    font-size: 1.563rem;
  }
  .invalid-email { margin-top:1rem;margin-bottom:1rem;color: red; font-size: 1.5rem }
  .email-required { margin-top:1rem;margin-bottom:1rem;color: red; font-size: 1.5rem }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    //color: #FFFFFF!important;
    opacity: 1;
    font-size: 1.45rem;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    //color: #FFFFFF!important;
    opacity: 1;
    font-size: 1.45rem;
  }
  :-ms-input-placeholder { /* IE 10+ */
    //color: #FFFFFF!important;
    opacity: 1;
    font-size: 1.45rem;
  }
  :-moz-placeholder { /* Firefox 18- */
    //color: #FFFFFF!important;
    opacity: 1;
    font-size: 1.45rem;
  }
  .email-input-container {
    margin: 2rem 0 1rem 0;
    // TODO: Make col(8) at media-breakpoint-up(md)
  }
  .email-address-input {
    padding: 0!important;
    background-color: transparent!important;
    border: none;
    border-bottom: #DDC179 6px solid;
  }
  .email-input-label {
    font-size: 1.45rem;
    //color: #FFFFFF;
    //padding: 2.5rem 0 0 0;
    //border: 0!important;
  }
  .subscribe-container {
    margin: 0.5rem 0 0 0;
    // TODO: Make col(4) at media-breakpoint-up(md)
  }
  .subscribe-btn {
    //color: #FFFFFF;
    border: #DDC179 6px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  .footer-container { }
  .copyright-container {
    padding: 0 0.5rem 0 0.5rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .copyright-text {
    color: #DDC179;
    padding: 0!important;
    width: auto;
  }
  .app-version-text {
    padding: 0!important;
    width: auto;
  }
