<div class="container">
  <div class="row">
    <div class="forgot-password-container">
      <form class="">
        <div class="display-4">Reset Password</div>
        <div class="mb-3">
          <label for="emailInput" class="form-label">Please enter your email address to request a password reset.</label>
          <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" #emailAddress required placeholder="Email Address">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <button nbButton status="success" type="submit" (click)="authService.ForgotPassword(emailAddress.value)">Reset Password</button>
      </form>
      <div class="container my-3">
        <div class="row">
          <button nbButton outline status="primary" routerLink="/sign-in"> Go Back to Log in</button>
        </div>
      </div>
    </div>
  </div>
</div>
