<a class="brand-name" routerLink="/">Anonymous Systems</a>
<img class="brand-logo" src="assets/imgs/logo.png" />

<header>Sign Up</header>
<div class="header-text">We'll never share your email with anyone else.</div>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="email">
    <label for="email" class="email-label">Email address: </label>
    <input id="email" type="email" class="form-control" formControlName="email" required />

    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="input-error">
      <div *ngIf="email?.errors?.required">Email address is <strong>required</strong>.</div>
      <div *ngIf="email?.errors?.email">Please enter a valid email address.</div>
    </div>
  </div>

  <div class="password">
    <label for="password">Password: </label>
    <input id="password" type="password" class="form-control" formControlName="password" required />

    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="input-error">
      <div *ngIf="password?.errors?.required">Password is <strong>required</strong>.</div>
      <div *ngIf="password?.errors?.minlength">Password must be at least 8 characters long.</div>
    </div>
  </div>

  <button type="submit" [disabled]="!signupForm.valid">Sign Up</button>
</form>

<button class="google-login" (click)="authService.GoogleAuth()">
  <img class="button-icon" src="assets/imgs/GoogleIcon.png" /><span>Login with Google</span>
</button>
<button class="email-login" routerLink="/auth/login">Login with Email & Password</button>

