@import 'src/styles';

.popup {
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 24px;
  max-width: 430px;
  z-index: 1031;
  padding: 16px 16px 8px;
  border-radius: 4px;
  color: rgba(0,0,0,.87);
  background: #fafafa;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-size: 1rem;
  line-height: 19px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 16px -8px 0 0;
  text-transform: uppercase;
  line-height: 36px;
}
.more-details-btn {
  color: rgba(0, 0, 0, 0.87);
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  border-radius: 0.25rem;
}
.more-details-btn:hover {background-color: rgba(0, 0, 0, 0.05);color: rgba(0, 0, 0, 0.87)}
.ok-btn {
  background: transparent;
  color: rgb(63, 81, 181);
  border: none!important;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  border-radius: 0.25rem;
}
.ok-btn:hover {background-color: rgba(63, 81, 181, 0.05);}
