<div class="container my-4">
  <div class="row">
    <a routerLink="/dashboard">Continue shopping</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <anon-card footer="Shipping Prices:">
      <h1 title>Shopping Cart</h1>
      <anon-card *ngFor="let product of shopping_cart_items;">
        <div title>
          <button (click)="cartService.removeFromCart(product)">X</button>
          <div class="d-flex justify-content-around">
            <div>{{product.name}}</div> <div>{{product.price | currency}}</div>
          </div>
        </div>
      </anon-card>
      <div class="" *ngIf="shopping_cart_items.length > 0">
        <button (click)="cartService.clearCart()">Clear Cart</button>
      </div>

      <div footer>
        <div class="">Shipping Prices:</div>
        <div class="">
          <button routerLink="/shop/cart/checkout">Checkout</button>
        </div>
      </div>
    </anon-card>
  </div>
</div>
