//@import 'src/styles/styles';
.user-image {
  width: 40px;
  height: 40px;
  border-radius: 3rem;
  align-items: center;
}
button {
  background-color: transparent;
  color: #B9B9B9;
  font-size: 1rem;
  padding: 0;
  border: none;
  cursor: pointer;
}
