<div class="container">
  <div class="row">
    <div class="display-1 text-center" style="color: white">Product Details</div>
    <anon-card class="mb-3" *ngIf="product">
      <div title>
        <h3>{{ product.name }}</h3>
      </div>
      <div>
        <h4>{{ product.price | currency }}</h4>
        <p>{{ product.description }}</p>
      </div>
      <div footer class="d-flex justify-content-around">
        <button (click)="addToCart(product)">Add to cart</button>
        <button [routerLink]="['/shop', product.id, 'edit']">Edit Product</button>
        <button (click)="deleteProduct(product)">Delete Product</button>
      </div>
    </anon-card>
    <button routerLink="/dashboard">All Products</button>
  </div>
</div>
