<img class="brand-logo" style="display: flex;justify-items: center" src="assets/imgs/logo.png" routerLink="/" />
<anon-card>
  <button routerLink="/shop">Shop</button>
  <button routerLink="/shop/cart">Shopping Cart</button>
</anon-card>

<anon-card class="" *ngIf="authService.userData as user">
  <anon-card-header>
    <div>Hello <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></div>
    <div>{{user.email}}</div>
  </anon-card-header>

  <anon-card-content>
    <p> User ID: {{user.uid}} </p>
    <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
  </anon-card-content>

  <anon-card-footer>
    <nav>
      <button (click)="authService.LogOut()">Log out</button>
      <button routerLink="/shop/new-product">Add Product</button>
    </nav>
  </anon-card-footer>
</anon-card>
